# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter Notebook and checkpoints
.ipynb_checkpoints/
.ipynb

# Ignore environment and dependencies
venv/
*.env

# Ignore Docker intermediate files
*.log
*.pid

jre_dashboard.ipynb